{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Antiques Collector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap" rel="stylesheet">
    </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">Arnold's Antiques</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder=>
          <div class="input-group-prepend">
            <div class="input-group-text"></div>
          </div>
        </form>
        <ul class="navbar-nav mr-auto">
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Jewelry</a>
              <a class="dropdown-item" href="#">Fashion</a>
              <a class="dropdown-item" href="#">Furniture</a>
              <a class="dropdown-item" href="#">Electronics</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign In</a>
          </li>
        </ul>
        
      </div>
    </nav>

    <div class="container toppage">
      <img src="https://i.imgur.com/kR1nYE0.png" class="img-fluid" alt="Responsive image">
      <div class="container toppageText">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, assumenda facilis. Nulla, est optio alias quo molestias minus sapiente, officiis ab saepe dolore similique reiciendis? Ullam, odio voluptate? Reiciendis, sunt?</p>
        <div class="btn btn-warning">Call To Action</div>
      </div> 
    </div>

    <div class="mt-4 mb-4 container">
      <div class="d-flex flex-row justify-content-around">
        <div class="p-2">
          <img class="threeCircles" src="https://i.imgur.com/Xuk7lZu.png" alt="..." class="rounded-circle">
        </div>
        <div class="p-2">          
          <img class="threeCircles" src="https://i.imgur.com/xyXEQk0.png" alt="..." class="rounded-circle">
        </div>
        <div class="p-2">
          <img class="threeCircles" src="https://i.imgur.com/4Chz828.png" alt="..." class="rounded-circle">
        </div>

      </div>
      <div class="d-flex flex-row-reverse justify-content-around">
        <div class="p-2 circleText">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="p-2 circleText">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="p-2 circleText">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      </div>

    </div>
    <div class="get container justify-content-center">
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h3>Get in the Know</h3>
        <div class="form-group w-100">
          <label for="exampleInputEmail1">Full Name</label>
          <input type="text" class="form-control" name="full_name" id="id_full_name" aria-describedby="emailHelp" placeholder="Enter full name..">        
        </div>
        <div class="form-group w-100">
          <label for="exampleInputPassword1">Email Address</label>
          <input type="email" class="form-control" name="email" id="id_email" placeholder="Enter Email..">
        </div>
  
        <button type="submit" class="d-flex justify-content-center signUpbtn btn btn-warning">Sign Up</button>
      </form>

    </div>

    <div class="mt-5 mb-5 container">
      <h3>About Us</h3>
      <p class="bodyText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab consequuntur quasi ipsum eius molestias voluptas aliquam, quaerat sunt. Unde voluptate laudantium similique, possimus sequi quis nam tempora. Dolores, repellat repellendus?</p>
      <!-- <img src="https://i.imgur.com/VBNCcrU.jpg" alt=""> -->
    </div>

    <div class="shopContainer container testimonial-group">
      <h3 class="p-1">Shop</h3>
      <div class="row text-center">
        <div class="card col-xs-4" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/SJZ1UDz.png" alt="Card image cap">
        </div>
        <div class="card col-xs-4" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/IMsiiKG.png" alt="Card image cap">
        </div>
        <div class="card col-xs-4" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/XBX8YWQ.png" alt="Card image cap">
        </div>
        <div class="card col-xs-4" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/z00GX6q.png" alt="Card image cap">
        </div>
      </div>
    </div>

    <div class="mt-4 footerInfo container">
      <h4>Visit</h4>
      <hr>
      <h4>Contact</h4>
      <hr>
      <h4>Back To Top</h4>
      <hr>
      <div class="d-flex mb-5 justify-content-center">
        <img class="mr-4  socialMedia" src="https://i.imgur.com/Tdnug8N.png" alt="">
        <img class="mr-4 socialMedia" src="https://i.imgur.com/DGEGqJK.png" alt="">
        <img class="socialMedia" src="https://i.imgur.com/DwEJNrd.png" alt="">
      </div>
    </div>
  

    {% block content %} 
    {% endblock %}
  </body>
</html>
