{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Antiques Collector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap" rel="stylesheet">
    </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Arnold's Antiques</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder=>
          <div class="input-group-prepend">
            <div class="input-group-text"></div>
          </div>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign In</a>
          </li>
        </ul>
        
      </div>
    </nav>

    <div class="container toppage">
      <img src="https://i.imgur.com/0ciIAVr.jpg" class="img-fluid" alt="Responsive image">
      <div class="container toppageText">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, assumenda facilis. Nulla, est optio alias quo molestias minus sapiente, officiis ab saepe dolore similique reiciendis? Ullam, odio voluptate? Reiciendis, sunt?</p>
        <div class="btn btn-dark">Call To Action</div>
      </div> 
    </div>

    <div class="d-flex flex-row justify-content-around">
      <div class="p-2">          
        <img class="threeCircles" src="https://i.imgur.com/9nCV6C7.jpg" alt="..." class="rounded-circle">
      </div>
      <div class="p-2">
        <img class="threeCircles" src="https://i.imgur.com/9nCV6C7.jpg" alt="..." class="rounded-circle">
      </div>
      <div class="p-2">
        <img class="threeCircles" src="https://i.imgur.com/9nCV6C7.jpg" alt="..." class="rounded-circle">
      </div>
    </div>
    <div class="d-flex flex-row-reverse justify-content-around">
      <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </div>

    <div class="container justify-content-center">
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h3>Get In The Know</h3>
        <div class="form-group w-100">
          <label for="exampleInputEmail1">Full Name</label>
          <input type="text" class="form-control" name="full_name" id="id_full_name" aria-describedby="emailHelp" placeholder="Enter full name..">
        </div>
        <div class="form-group w-100">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" name="email" id="id_email" placeholder="Enter Email..">
        </div>
  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

    <div class="container">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab consequuntur quasi ipsum eius molestias voluptas aliquam, quaerat sunt. Unde voluptate laudantium similique, possimus sequi quis nam tempora. Dolores, repellat repellendus?</p>
      <!-- <img src="https://i.imgur.com/VBNCcrU.jpg" alt=""> -->
    </div>

    <div class="container testimonial-group">
      <div class="row text-center">
        <div class="card col-xs-4" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/0ciIAVr.jpg" alt="Card image cap">
        </div>
        <div class="card col-xs-4" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/9nCV6C7.jpg" alt="Card image cap">
        </div>
        <div class="card col-xs-4" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/gAiwMZm.jpg" alt="Card image cap">
        </div>
        <div class="col-xs-4">4</div>
        <div class="col-xs-4">5</div>
        <div class="col-xs-4">6</div>
        <div class="col-xs-4">7</div>
        <div class="col-xs-4">8</div>
        <div class="col-xs-4">9</div>
      </div>
    </div>

    
<!-- <section class="work" section id=“work”>
    <h2 class="section-title">Work</h2>
    <div class="work__container bd-grid">
        <div class="work__img">
            <img src="https://i.imgur.com/0ciIAVr.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="https://i.imgur.com/9nCV6C7.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="https://i.imgur.com/WZP9zxe.png" alt="">
        </div>
        <div class="work__img">
            <img src="https://i.imgur.com/gAiwMZm.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="https://i.imgur.com/B3m9Ghq.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="https://i.imgur.com/VBNCcrU.jpg" alt="">
        </div>
    </div>
</section> -->
<!-- <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="Submit" name="submit" value="Submit"/>
</form>
    {% if submitbutton == "Submit" %}
    <h1> Your full name is {{ fullname }}</h1>
    <h1> Your email is {{ emailvalue }} </h1>
    {% endif %} -->


    {% block content %} 
    {% endblock %}
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2021 Antiques Collector &nbsp;
      </div>
    </footer>
  </body>
</html>
