.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1rf 1rf;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.work__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
}

.work__container{
    row-gap: 2rem;
}
.work__img{
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
    overflow: hidden;
}
.work__img img{
    transition: 1s;
    cursor: pointer;
}
.work__img img:hover{
    transform: scale(1.1);
}

.toppage {
    position: relative;
    background-size: cover;
    max-width: 100%;
    height: auto;
}
.toppage img {
    width: 100%;
    background-size: cover;
    height: 300px;
}

.toppageText {
    position: absolute;
    top: 25%;
    padding: 20px;
}

.threeCircles {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}




.containertopImage {
    position: relative;
}
.containerText {
    position: absolute;
}








@media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
}}
.work__container > img{
  max-width:100%;
  max-height:100%;
}

  



/* The heart of the matter */
.testimonial-group > .row {
    display: block;
    overflow: scroll;
    white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4, .col-md-6 {
    display: inline-block;
    float: none;
    padding: 15px;
    margin: 10px;

}
  
  /* Decorations */
.col-xs-4, .col-md-6 { 
    color: #fff; 
    font-size: 48px; 
    padding-bottom: 20px; 
    padding-top: 18px; 
}
  /* .col-xs-4:nth-child(3n+1) { background: #c69; }
  .col-xs-4:nth-child(3n+2) { background: #9c6; }
  .col-xs-4:nth-child(3n+3) { background: #69c; } */